<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <script src="https://kit.fontawesome.com/19fd1971ea.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/app.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>



<body class="debu">
    <!-- Whatsapp App -->
    <div id="app">
        <!-- App Container -->
        <div class="app-container">
            <!-- App Sidebar Section (-Hidden in Mobile View)-->
            <header class="app__sidebar">
                <!-- Sidebar Userbar -->
                <div class="app__sidebar__userbar">
                   <img class="app__sidebar--img" src="./img/avatar_io.jpg" alt="">
                   <ul class="app__sidebar__userbar--interaction">
                    <li>
                        <a href="#"><i class="fa-solid fa-circle-notch"></i></a>
                    </li>

                    <li>
                        <a href="#"><i class="fa-solid fa-message"></i></a>
                    </li>

                    <li>
                        <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                    </li>
                   </ul>
                </div>

                <!-- Sidebar Notifications (-Hidden in Tablet View) -->
                <div class="app__sidebar__notifications">
                    <div class="app__sidebar__notifications__icon">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="app__sidebar__notifications__text">
                        <p class="app__sidebar__notifications__text--intro">Ricevi notifiche di nuovi messaggi</p>
                        <a class="app__sidebar__notifications__text--link" href="#">Attiva notifiche desktop</a>
                    </div>
                </div>

                <!-- Sidebar Searchbar (-Hidden in Tablet View) -->
                <div class="app__sidebar__searchbar">
                    <i class="fa-solid fa-magnifying-glass app__sidebar__searchbar__icon"></i>
                    <input 
                     class="app__sidebar__searchbar__text-box" 
                     type="search" 
                     placeholder=" Cerca o inizia una nuova chat"
                     v-model="searchBarText"
                    >
                </div>

                <!-- Sidebar Contacts -->
                <div class="app__sidebar__contacts">
                    <!-- Sidebar Contacts Card 1-->
                    <div 
                     class="app__sidebar__contacts__card"
                     v-for="(contact,i) in contactsFilter"
                     :class="getActiveClass(i)"
                     @click="activeElement(i)"
                    >
                        <img class="app__sidebar__contacts__card__img" :src="contact.avatar"  alt="">
                        <div class="app__sidebar__contacts__card__name">
                            <p class="app__sidebar__contacts__card__name__nickname">{{ contact.name }}</p>
                            <p class="app__sidebar__contacts__card__name__info">{{lastMessage(contact.messages)}}</p>
                        </div>
                        <p class="app__sidebar__contacts__card__time">{{ lastDate(contact.messages).slice(11, 16)}}</p>
                    </div> 
                </div>                
            </header>

            <!-- App Chat Section -->
            <main class="app__chat">
                <!-- App Chat Topbar -->
                <div 
                 class="app__chat__topbar"

                >
                    <img 
                     class="app__chat__topbar--img" 
                     :src="currentContact.avatar" alt=""
                    >

                    <div class="app__chat__topbar--info">
                        <p class="app__chat__topbar--info__name">{{ currentContact.name }}</p>
                        <p class="app__chat__topbar--info__last-access">Ultimo accesso oggi alle {{ lastAccess.toFixed(2) }}</p>
                    </div>

                    <ul class="app__chat__topbar--interaction">
                        <li>
                            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </li>

                        <li>
                            <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                        </li>

                        <li>
                            <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        </li>
                    </ul>

                </div>

                <!-- App Chat Message Box -->
                <div 
                 class="app__chat__message--box"
                >
                    <!-- Right Textbox -->
                    <div                      
                     v-for="(message, i) in currentChat"
                     :class="message.status"
                    >
                        <!-- message text -->
                        <p>{{ currentChat[i].message }}</p>
                        
                        <!-- Message Time -->
                        <div class="app__chat__message--box__text__time">
                            
                            <i class="fa-solid fa-chevron-down chat-menu"></i>
                            
                            <ul class="chat-menu-content">
                                <li>
                                    <a href="#">Copia</a>
                                </li>

                                <li>
                                    <a 
                                     href="#"
                                     @click="deleteMessage(currentChat, i, 1)"
                                    >
                                        Elimina 
                                    </a>
                                </li>

                                <li>
                                    <a href="#">Fissa</a>
                                </li>

                                <li>
                                    <a href="#">Inoltra</a>
                                </li>
                                
                                <li>
                                    <a href="#">Info</a>
                                </li>
                            </ul>
                            
                            <p>{{currentChat[i].date.slice(11, 16)}}</p>
                        </div>
                    </div>

                </div>

                <!-- App Chat Message Input -->
                <div class="app__chat__message--input">
                    <!-- Pulsante per Emoticons -->
                    <a href="#" class="chat--emoticons">
                        <i class="fa-regular fa-face-smile"></i>
                    </a>

                    <!-- Emoticons Tab -->
                    <div class="chat--emoticons__tab">
                        <div class="emoticons__col">
                            <i class="fa-regular fa-face-tired chat--emoticons"></i>
                            <i class="fa-regular fa-face-meh-blank chat--emoticons"></i>
                            <i class="fa-regular fa-face-smile-beam chat--emoticons"></i>
                        </div>

                        <div class="emoticons_col">
                            <i class="fa-regular fa-face-sad-cry chat--emoticons"></i>
                            <i class="fa-regular fa-face-smile chat--emoticons"></i>
                            <i class="fa-regular fa-face-frown chat--emoticons"></i>
                        </div>

                        <div class="emoticons_col">
                            <i class="fa-regular fa-face-angry chat--emoticons"></i>
                            <i class="fa-regular fa-face-flushed chat--emoticons"></i>
                            <i class="fa-regular fa-face-flushed chat--emoticons"></i>
                        </div>
                    </div>

                    <!-- Chat Box -->
                    <input 
                     class="app__chat__message--input__text-box" 
                     type="text" 
                     placeholder="Scrivi un Messaggio ..."
                     v-model.trim="messageText"
                     @keyup.enter="newMessage()"
                    >

                    <!-- Pulsante Audio Chat -->
                    <a href="#" class="chat--microphone">
                        <i class="fa-solid fa-microphone"></i>
                    </a>
                </div>
            </main>
        </div>
    </div>

    <script type="text/javascript" src="./js/app.js"></script>
</body>
</html>